//import
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

// Breakpoint for Media Queries
$break: 50em;

// Color Maps

$color-one: #9BC1BC;
$color-two: #5CA4A9;
$color-three: #E6EBE0;
$color-four: #F4F1BB;
$color-five: #ED6A5A;
$color-six: #00171F;
$color-seven: #FFFFFF;
$color-eight: #50514F;

$colors: (
  'base': #fff,
  'primary': #1e1d24,
  'secondary': #b4b3b5,
  'accent': #97f1e7,
);

//text size maps
$font-size: (
  'x-small': em(14),
  'small': em(16),
  'medium': em(20),
  'large': em(24),
  'x-large': em(28),
  'xx-large': em(34),
  'mega-small': em(48),
  'mega-medium': em(64),
  'mega-large': em(72),
);

//fonts
$font-primary: 'Fjalla One', sans-serif;
