.presets {
	padding-top: 4em;
	display: inline-block;
	width: 100%;
	text-align: center; 

	input{
		padding-bottom: 1em;
	}

	li {
		margin: 0;
		width: 48%;
		display: -webkit-inline-flex;
		display: inline-flex;
		button {
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 30%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			height: 4em;
			margin: 0 2em 2em 0;
			width: 7em;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear; 
		}
		p{
			width: 30%;
		}
	}
	button:active {
		color: red;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
	}
}