<!doctype html>
<html ng-app="synthy" lang="en">
	<head>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '540551289430207',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="css/main.css">
		<title>Websynth</title>
	</head>
	<body ng-controller="SynthCtrl" ng-init="getPreset()">
		<!-- NAV -->
		<header class="header-container">
			<h1 class="logo"></h1>
			<nav class="primary-nav-wrap">
			</nav>
		</header>

<section ontouchstart="" id="synthesizer" class="sequencer">
	<ul>
		<li><button href="#" id="pad-0" class="sequencer-button press pad inactive">1</button></li>
		<li><button href="#" id="pad-1" class="sequencer-button press pad inactive">2</button></li>
		<li><button href="#" id="pad-2" class="sequencer-button press pad inactive">3</button></li>
		<li><button href="#" id="pad-3" class="sequencer-button press pad inactive">4</button></li>
		<li><button href="#" id="pad-4" class="sequencer-button press pad inactive">5</button></li>
		<li><button href="#" id="pad-5" class="sequencer-button press pad inactive">6</button></li>
		<li><button href="#" id="pad-6" class="sequencer-button press pad inactive">7</button></li>
		<li><button href="#" id="pad-7" class="sequencer-button press pad inactive">8</button></li>
	</ul>
</section>
<section class="switch">
	<div class="switch-warp">
		<label for="check"><input id="check" type="checkbox"><span class="strip"></span></label><br /><br />
	</div>
	<div class="volume">
		<input id="volumeSlider" type="range" value="35"/>
	</div>
</section>
<section ontouchstart="" id="instrument" class="keyboard">
	<ul>
		<li>
			<div id="key-0" class="key white-key">1</div>
			<ul class="black-key">
				<li><div id="key-8" class="key">9</div></li>
			</ul>
		</li>
		<li>
			<button id="key-1" class="key white-key">2</button>
			<ul class="black-key">
				<li><button id="key-9" class="key">10</button></li>
			</ul>
		</li>	
		<li>
			<button id="key-2" class="key white-key">3</button>
			<ul class="black-key">
				<li><button id="key-10" class="key">11</button></li>
			</ul>
		</li>	
		<li>
			<button id="key-3" class="key white-key">4</button>
			<ul class="black-key">
				<li><button id="key-11" class="key">12</button></li>
			</ul>
		</li>	
		<li>
			<button id="key-4" class="key white-key">5</button>
		</li>	
		<li>
			<button id="key-5" class="key white-key">6</button>
			<ul class="black-key">
				<li><button id="key-12" class="key">13</button></li>
			</ul>
		</li>
		<li>
			<button id="key-6" class="key white-key">7</button>
			<ul class="black-key">
				<li><button id="key-13" class="key">14</button></li>
			</ul>
		</li>
		<li>
			<button id="key-7" class="key white-key">8</button>
		</li>
	</ul>
</section>

		<!-- SOME KIND OF NG-VIEW THING -->
		<main ng-view>
		</main>
		<section class="presets">
			<input type="search" ng-model="q" placeholder="filter user presets..."/>
			<ul class="presetResults">
				<li ng-repeat="preset in userPresets | filter:q as results">
          <p>{{preset.patchName}}</p>
          <button ng-click="$window.presetReload(preset)">load</button>
          <button ng-click="deletePreset(preset._id)">delete
          </button>
				</li>
			</ul>
      <br>
      <button ng-click="savePreset(preset)">Save Preset</button>
      <br>
      <label>Make Preset Public<input type="checkbox" ng-model="checkbox">
		</section>
		<!-- FOOTER  -->
		<footer>
			<ul>
				<li><a href="/auth/google">LOGIN WITH GOOGLE</a></li>
					<li><a href="/auth/facebook">LOGIN WITH FACEBOOK</a></li>
				<li><a href="https://github.com/synthr/main_synth_repo">GITHUB</a></li>
			</ul>

		</footer>
		<!-- SCRIPT TAGS -->
		<script src="js/packed.js"></script>
	</body>
</html>
